<header class="uc-header <%= modifier %>">

  
  <% if (typeof sidebar !== 'undefined') { %>
  <div class="uc-menu-btn _hide-medium _hide-large" data-open-target="#sidebar">
    <button><i class="uc-menu-btn-icon"></i></button>
  </div>
  <% } %>

  <div class="uc-header-logo"><a href="<%= blog_url %>"><%= blog_title %></a></div>
  <div class="uc-header-menu _hide-small" role="navigation">
    <a href="<%= blog_url %>">About</a>
    <a href="<%= blog_url %>docs/">Docs</a>
    <a href="<%= blog_url %>demo.html" target="_blank">Demo</a>
    <a href="https://github.com/steelydylan/atomic-lab">GitHub</a>
  </div>
  <div class="uc-menu-btn _text _hide-medium _hide-large" data-open-target="#menu">
    <button>Menu</button>
  </div>
</header>


<nav class="uc-menu _slide _black" id="menu">
  <div class="uc-menu-wrap">
    <div class="uc-menu-list">
      <a href="<%= blog_url %>">About</a>
      <a href="<%= blog_url %>docs/">Docs</a>
      <a href="<%= blog_url %>demo.html" target="_blank">Demo</a>
      <a href="https://github.com/steelydylan/atomic-lab">GitHub</a>
    </div>
  </div>
</nav>