<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Atomic Lab - component guide generator based on partial templates</title>
  <meta name="author" content="steelaxe (steelydylan and okajax)">
  <meta name="description" content="Component Guide Generator Based on Atomic Design">
  <meta name="version" content="1.0.0">
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://steelydylan.github.io/atomic-lab/" />
  <meta property="og:title" content="AtomicLab" />
  <meta property="og:description" content="Component Guide Generator Based on Atomic Design" />
  <meta property="og:image" content="https://steelydylan.github.io/atomic-lab/images/ogp.png" />

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@steelydylan">

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400:500" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/unitscss@0.1.4/dist/units.min.css">
  <link rel="stylesheet" href="<%= blog_url %>css/style.css">
  
  <link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/atom-one-dark.min.css" rel="stylesheet">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</head>
<body class="_theme-light">

  <header class="uc-header _black _fixed">
  <div class="uc-header-logo"><a href="<%= blog_url %>"><%= blog_title %></a></div>
  <div class="uc-header-menu _small-hidden" role="navigation">
    <a href="<%= blog_url %>">About</a>
    <a href="<%= blog_url %>docs/">Docs</a>
    <a href="<%= blog_url %>demo.html" target="_blank">Demo</a>
    <a href="https://github.com/steelydylan/atomic-lab">GitHub</a>
  </div>
  </header>
  

  <div class="uc-grid _nowrap">

    <div class="uc-sidebar _slide uc-grid-cell" id="sidebar">
      <div class="uc-sidebar-wrap">
        <div class="uc-sidebar-list">
          <p><strong>Getting Started</strong></p>
          <a href="<%= blog_url %>docs/">How it works</a>
          <a href="<%= blog_url %>docs/document/">Document</a>
          <a href="<%= blog_url %>docs/preview/">Preview</a>
          <a href="<%= blog_url %>docs/note/">Note</a>
          <a href="<%= blog_url %>docs/config/">Config</a>
        </div>
        <div class="uc-sidebar-list">
          <p><strong>API</strong></p>
          <a href="#">CLI</a>
          <a href="#">JavaScript</a>
        </div>
        <div class="uc-sidebar-list">
          <p><strong>Links</strong></p>
          <a href="<%= blog_url %>">Home</a>
          <a href="https://www.npmjs.com/package/atomic-lab" target="_blank">npm</a>
          <a href="https://github.com/steelydylan/atomic-lab" target="_blank">GitHub</a>
        </div>
      </div>
    </div>

    <div class="uc-grid-cell _col-fit">
      

      <main class="uc-content">

        <div class="uc-section">
        <%- contents %>
        </div>
        <div class="uc-pager-unit">
          <div class="uc-btn _primary"><a href="#">Template →</a></div>
        </div>
      </main>
    </div>
  </div>

  <footer class="uc-footer _dark">
  <div class="uc-footer-menu">
      <a href="<%= blog_url %>/">About</a>
      <a href="<%= blog_url %>/demo.html" target="_blank">Demo</a>
      <a href="https://github.com/steelydylan/atomic-lab" target="_blank">GitHub</a>
  </div>
  <div class="uc-footer-logo"><cite>Atomic Lab</cite></div>
  <p>This page was made using <a href="http://unitscss.com" target="_blank">UNITS</a>.</p>
  <small>© 2017 Atomic Lab</small>
  </footer>


</body>
</html>
