<!DOCTYPE html>
<html lang="en">
<%- include('./_partials/head'); %>
<body class="_theme-light">

  <%- include('./_partials/header',{modifier:'_black _fixed', sidebar: true}); %>


  <div class="uc-grid _small-col-full _nowrap">

    <%- include('./_partials/sidebar'); %>

    <div class="uc-grid-cell _col-fit">


      <main class="uc-content">

        <div class="uc-section">

        <%- contents %>
        </div>
        <% if (typeof next_url !== 'undefined') { %>
        <div class="uc-pager-unit">
          <div class="uc-btn _primary"><a href="<%= blog_url %><%= next_url %>"><%= next_label %> →</a></div>
        </div>
        <% } %>
      </main>
    </div>
  </div>


  <%- include('./_partials/footer'); %>
  <%- include('./_partials/js'); %>
</body>
</html>
