
<!DOCTYPE html>
<html lang="en">
<%- include('./_partials/head'); %>
<body class="_theme-light">

<%- include('./_partials/header',{modifier:'_ghost'}); %>

  <%- include('./_partials/top'); %>
  <%- include('./_partials/footer'); %>
  <%- include('./_partials/js'); %>
</body>
</html>
